body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1326px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.logo {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 89px;
  height: 89px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.tournament_container {
  position: absolute;
  width: 247px;
  height: 55px;
  top: 47px;
  left: 26px;
  background-color: white;
  border-radius: 10px;

  box-sizing: border-box;
  padding: 0 10px;
}

.container {
  position: absolute;
  width: 494px;
  height: 89px;
  top: 13px;
  background-color: rgb(250, 241, 224);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
}

.p1.container {
  left: 297px;
}

.p2.container {
  right: 297px;
}

.inner_container {
  width: 486px;
  height: 53px;
  margin-top: 4px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  overflow: hidden;
  border-radius: 6px;
}

.p1 .inner_container {
  flex-direction: row-reverse;
}

.p1 .flagcountry .text_empty {
  margin-left: 0px;
}

.p2 .flagcountry .text_empty {
  margin-right: 0px;
}

.p1 .flagcountry:not(.text_empty) {
  margin-left: 8px;
}

.p2 .flagcountry:not(.text_empty) {
  margin-right: 8px;
}

.flags_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flag {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 47px;
}

.name_container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding: 0 8px;
}

.name {
  font-size: 25px;
  color: var(--text-color);
  text-transform: uppercase;
}

.score_container {
  width: 62px;
  height: 100%;
}

.p1 .score_container {
  background-color: var(--p1-score-bg-color);
}

.p2 .score_container {
  background-color: var(--p2-score-bg-color);
}

.score {
  font-size: 35px;
  color: var(--text-color);
}

.bottom_container {
  position: relative;
  width: 486px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.bottom {
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  max-width: 362px;
}

.losers_container {
  position: absolute;
  width: 62px;
  height: 32px;
}

.p1 .losers_container {
  right: 0px;
}

.p2 .losers_container {
  left: 0px;
}

.losers {
  font-size: 25px;
  color: var(--bg-color);
}

.match {
  font-size: 20px;
  text-transform: uppercase;
}

.p1 .sponsor {
  background: var(--p1-score-bg-color);

  /* For gradient color */
  /* background: linear-gradient(
    90deg,
    var(--p1-score-bg-color) 0%,
    var(--text-color) 200%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p2 .sponsor {
  background: var(--p2-score-bg-color);

  /* For gradient color */
  /* background: linear-gradient(
    90deg,
    var(--p2-score-bg-color) 0%,
    var(--text-color) 200%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter {
  color: var(--text-color);
  font-size: 18px;
  overflow: hidden;
  text-transform: uppercase;
}

.twitter_logo {
  -webkit-mask-image: url(./x_twitter.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  background: var(--text-color);
  width: 25px;
  height: 25px;
}

.twitter_container {
  position: absolute;
  width: 346px;
  height: 43px;
  bottom: 224px;
  border-radius: 10px;

  box-sizing: border-box;
  padding: 0 10px;
}

.p1.twitter_container {
  left: 25px;
  background-color: var(--p1-score-bg-color);
}

.p2.twitter_container {
  right: 25px;
  background-color: var(--p2-score-bg-color);
}